@font-face {
    font-family: "hardrock";
    src: url(../fonts/HARD_ROCK.ttf);
}

@font-face {
    font-family: "thedark";
    src: url(../fonts/TheDark.ttf);
}

@font-face {
    font-family: "ROCKNROLL";
    src: url(../fonts/rocknroll_typo_crazy.ttf);
}

body {
    background: repeating-linear-gradient(120deg,
            black,
            black 800px,
            red 800px,
            red 1600px);
}



nav {
    color: red;

    h1 {
        font-family: hardrock;
        color: white;
        display: inline-block;
    }

    .icon {
        color: red;
        font-size: 3rem;
    }

    #navbarNav {
        font-family: thedark;

        ul {
            li {
                a {
                    color: red;
                }
            }
        }

    }
}

.container {
    margin-top: 2rem;

    .icon {
        color: black;
        font-size: 3rem;
    }

    h2 {
        font-family: rocknroll;
        color: white;

    }

    .figure {
        img {
            height: 16.5rem;
        }

    }

    .thunder {
        -webkit-text-stroke: 1px black;
        color: red;
    }

    .card {

        margin: 2rem;

        img {
            width: 100%;
        }

        button {
            font-family: rocknroll;
        }

    }

}